<section data-ng-controller="VotosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Votos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="voto in votos" data-ng-href="#!/votos/{{voto._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="voto.created | date:'medium'"></span>
				by
				<span data-ng-bind="voto.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="voto.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!votos.$resolved || votos.length">
    	No Votos yet, why don't you <a href="/#!/votos/create">create one</a>?
    </div>
</section>