<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<section data-ng-controller="ProgramasController">
    <div class="page-header">
        <h1>Novo Programa</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
			    <div class="row">
				    <!-- <div class="col-xs-6 col-sm-4">
						<fieldset>
					        <div class="form-group text-center">
							  <img ng-src="{{imageURL}}" class="img-thumbnail user-profile-picture">
							</div>
							<div class="text-center form-group" ng-hide="uploader.queue.length">
							  <span class="btn btn-default btn-file">
								  Selecionar Imagem<input type="file" name="programaImageURL" id="programaImageURL" nv-file-select uploader="uploader">
							  </span>
							</div>
							<div class="text-center form-group" ng-show="uploader.queue.length">
							  <button class="btn btn-primary" ng-click="uploadProgramaPicture();">Upload</button>
							  <button class="btn btn-default" ng-click="cancelUpload();">Cancelar</button>
							</div>
							<div ng-show="success" class="text-center text-success">
							  <strong>Imagem alterada com sucesso</strong>
							</div>
							<div ng-show="error" class="text-center text-danger">
							  <strong ng-bind="error"></strong>
							</div>
						</fieldset>
					</div>-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="nome">Nome</label>
							<div class="controls">
								<input type="text" data-ng-model="nome" id="nome" class="form-control" placeholder="Nome" required>
							</div>
							<div class="checkbox">
								<label>
								<input type="checkbox" ng-checked="true" name="visivel" ng-model="visivel" checked id="visivel"> Visivel no Aplicativo
								</label>
							</div>
						</div>
						<div class="form-group">
						  <label for="sinopse">Sinopse</label>
						  <textarea name="sinopse" ng-model="sinopse" id="sinopse" class="form-control" cols="30" rows="5" placeholder="Sinopse"></textarea>
						</div>
						<div class="form-group">
						 <label for="tags">Tags</label>
					     <tags-input ng-model="tagsInit" add-on-paste="true" id="tags" name="tags">
						      <auto-complete source="loadTags($query)"></auto-complete>
					     </tags-input>
						</div>
						<div class="form-group">
						 <label for="veiculos">Veiculos onde passa esse Programa</label>
					     <tags-input ng-model="veiculosInit" add-on-paste="true" id="veiculos" name="veiculos">
						      <auto-complete source="loadVeiculos($query)"></auto-complete>
					     </tags-input>
						</div>
						<div class="form-group">

				<div ng-show="imageCropStep == 1">
				    <label for="fileInput">Imagem do Backdrop</label>		
					<br/>
					<input type="file" name="fileInput" id="fileInput" nv-file-select uploader="uploader" onchange="angular.element(this).scope().fileChanged(event)" />
				</div>
   		         <div ng-show="imageCropStep == 2">
				  <!-- <image-crop			 
					 data-height="200" //shape's height
					 data-width="150" //shape's width
					 data-shape="square" //the shape.. square or circle
					 data-step="imageCropStep"//scope variable that will contain the current step of the crop (1. Waiting for source image; 2. Image loaded, waiting for crop; 3. Crop done)
					 src="imgSrc" //scope variable that will be the source image for the crop (may be a Blob or base64 string)
					 data-result-blob="result" //scope variable that will contain the Blob information
					 data-result="resultDataUrl" //scope variable that will contain the image's base64 string representation
					 crop="initCrop" //scope variable that must be set to true when the image is ready to be cropped
					 padding="250" //space, in pixels, rounding the shape
					 max-size="1024" //max of the image, in pixels
				   ></image-crop> -->
				   
				   <image-crop			 
					 data-height="200"
					 data-width="355"
					 data-shape="square"
					 data-step="imageCropStep"
					 src="imgSrc"
					 data-result="result"
					 data-result-blob="resultBlob"
					 crop="initCrop"
					 padding="250"
					 max-size="1024"
				   ></image-crop>
			   
			  		</div>
		
		   

	       
	       </div>
	       
           <div ng-show="imageCropStep == 2">
		   	  <br/>
		      <button type="button" class="btn btn-primary" ng-click="setCrop()"><span class="glyphicon glyphicon-screenshot"></span>   Recortar    </button>		
	       </div>
	       
		  <div ng-show="imageCropStep == 3">
		   
		     <h2>Backdrop:</h2>
	       
			 <img ng-src="{{result}}"></img>
 	         <!--<input hidden class="result-datauri">{{ result }}</input>-->
 	         <div class="text-center form-group" ng-show="uploader.queue.length">
				 <br>
				 <button type="button" class="btn btn-warning" ng-click="clear()" ng-disabled="!item.isUploading"><span class="glyphicon glyphicon-ban-circle"></span> Cancelar</button>&nbsp;
				 <button type="button" class="btn btn-success" ng-click="doUploadBackdrop()" ng-disabled="item.isReady || item.isUploading || item.isSuccess"><span class="glyphicon glyphicon-upload"></span> Upload Imagem</button>
				 <br>
				 <div class="progress" style="">
                     <div class="progress-bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">0%</div>
                 </div>
             </div> 
		  </div>
		  
		  <p></p><br>
		  
		  

						
						<div class="form-group">
							<input type="submit" class="btn btn-primary">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
					<div class="col-md-2">
						<label for="categorias">Categorias</label><br>
							<span ng-repeat="cat in categoriaList">
							  <div>
  							   <label class="btn btn-primary" style="width:100%" for="{{cat.nome}}">
							   	<input id="{{cat.nome}}"
							   		   type="checkbox" 
							   		   value="{{cat._id}}" 
							   		   ng-checked="selecaoCategorias.indexOf(cat._id) > -1" 
							   		   ng-click="toggleSelectionCategorias(cat)" />
							   			{{cat.nome}}</label><br>
							  </div>
							</span>
					</div>
					<div class="col-md-2">
						<label for="destaquesSelecionados[]">Destaques</label><br>
							  <div>
							   <!-- <label ng-repeat="destaqueNome in destaqueList" class="btn btn-primary" style="width:100%">
								  <input
								    type="checkbox"
								    name="destaquesSelecionados[]"
								    value="{{destaqueNome}}"
								    ng-checked="selecaoDestaques.indexOf(destaqueNome) > -1"
								    ng-model="selecaoDestaques"
								    ng-click="toggleSelectionDestaques(destaqueNome)"
								  > {{destaqueNome}}
								</label>-->
								  <label data-ng-repeat="destaque in destaqueList" class="btn btn-primary" style="width:100%">
			    						<input type="checkbox" 
			    						       ng-model="destaque.selecionado" 
			    						       value="{{destaque.id}}" /><span>{{destaque.nome}}</span> 
								  </label>
							  </div>
					</div>
				</div>
            </fieldset>
        </form>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


